{% extends "layout/base-layout.html.twig" %}
{% block page_title %} Tipo Cuenta | {% endblock %}
{% block page_subtitle %}Modificar Cuenta {% endblock %}

{% block page_content %}

<div class="box box-primary">
<div style="width:80%; margin-left:8%; margin-top: 3% ">


    {{ form_start(edit_form) }}

    {{ form_errors(edit_form) }}

    {{ form_row(edit_form.nombrecuenta) }}
    {{ form_row(edit_form.descripcion) }}
    {{ form_row(edit_form.estado) }}

<input type="submit" value="Guardar" class="btn btn-info btn-sm" /> <a href="{{ path('tipocuenta_index') }}" class="btn btn-success btn-sm">Atras</a>

    {{ form_end(edit_form) }}


</div>
</div>



{% endblock %}
